.profile_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 26px 20px;
  width: 100%;
  background-color: white;
}
.profile_main button {
  color: #00a8e1;
  border: 1px solid #00a8e1;
  width: 150px;
  padding: 10px 20px;
  background: none;
}
.profile_main h3 {
  color: #636363;
  font-size: 18px;
}
.profile_main h5 {
  color: #636363;
}
.profile_main h6 {
  color: #00a8e1;
}
.profile_main p {
  color: #636363;
  font-size: 15px;
}
