.follow_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.follow_head {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: white;
  padding: 10px;
}
.follow_head h2 {
  color: #002e32;
}
.follow_profile {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 10px;
  gap: 30px;
}
.follow_profile > img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.follow_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.follow_info > p {
  color: #009ee1;
}
.follower {
  display: flex;
  gap: 25px;
  align-items: center;
}
.follower p {
  font-size: 12px;
  color: #848484;
}
.follow_name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.follow_name h3 {
  color: #272727;
  font-size: 14px;
}
.follow_btn {
  display: flex;
  gap: 10px;
}
.follow_btn #chat {
  background-color: #d0ffff;
  border: 2px solid #d0ffff;
  color: #009ee1;
  font-size: 12px;
  padding: 5px 25px;
  cursor: pointer;
}
.follow_btn #connect {
  border: 2px solid #00b2ff;
  color: #009ee1;
  padding: 5px 25px;
  background-color: white;
  font-size: 12px;
  cursor: pointer;
}
.view_more a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #002e32;
}
